.vscode/**
.vscode-test/**

**/*.ts
*.yml

docs/**
old_docs/**
build/**
test/**
typings/**
out/**
node_modules/**
src/**
media/**
!media/telescope-gray.png

README.zh.md
.gitignore
.github
tsconfig.json
typedoc.json
.vscode-test.js
esbuild.js
eslint.config.mjs
