.vscode/**
.vscode-test/**

**/*.ts
*.yml

docs/**
old_docs/**
build/**
test/**
typings/**
out/**
media/**
node_modules/**
src/**

!media/telescope.png

.gitignore
.github
tsconfig.json
typedoc.json
.vscode-test.js
esbuild.js
eslint.config.mjs
